<div class="cs-wrapper">
    <div class="cs-item">
        <img [src]="'https://image.tmdb.org/t/p/original/'+info.backdrop_path" [alt]="info.title"class="cs-left" [height]="height">
    </div>
    <div class="cs-item">
        <img src="assets/comingsoon.gif" alt="coming soon" class="cs-right"  [height]="height">
    </div>
</div>