.cs-wrapper{
    width:90%;
    margin:4em auto;
}
.cs-item{
    display: inline-block;
    width:50%;
    height: 100%;
}
.cs-left{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
    width:100%;
}
.cs-right{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 100%;
    width:100%;
}