<div class="wrapper">
  <app-topmovie *ngIf="movies.length > 0" [info]="movies[0][6]"></app-topmovie>

  <div class="line-separator"></div>

  <app-moviesection
    [title]="'Top TV Shows'"
    [objRef]="movie"
    [data]="movies[0]"
    [height]="300"
  ></app-moviesection>
  <app-moviesection
    [title]="'Top Movies'"
    [objRef]="movie"
    [data]="movies[1]"
    [height]="300"
  ></app-moviesection>
  <div class="m-5"><button class="btn btn-primary">See More</button></div>
  <app-genre-specific-section
    [data]="genres"
    [objRef]="genre"
  ></app-genre-specific-section>
  <app-moviesection
    [title]="'Popular Actors & Directors'"
    [objRef]="actor"
    [data]="actors"
    [height]="200"
  ></app-moviesection>
  <app-moviesection
    [title]="'Channels'"
    [objRef]="company"
    [data]="companies"
    [height]="150"
  ></app-moviesection>
  <app-comingsoon
    *ngIf="movies.length > 0"
    [info]="movies[1][10]"
    [height]="400"
  ></app-comingsoon>

  <ng-template #movie let-movie="data">
    <app-movie [info]="movie" [height]="250"></app-movie>
  </ng-template>
  <ng-template #movie2 let-movie="data">
    <app-movie [info]="movie" [height]="250"></app-movie>
  </ng-template>
  <ng-template #genre let-genre="data" let-index="index">
    <app-genre [info]="genre" [index]="index"></app-genre>
  </ng-template>
  <ng-template #actor let-actor="data">
    <app-actor [info]="actor" [size]="200"></app-actor>
  </ng-template>
  <ng-template #company let-comp="data">
    <app-company [info]="comp" [height]="150"></app-company>
  </ng-template>
</div>
