<div class="my-4">
<app-section-title (onClicked)="titleClicked($event)" [title]="'Popular Genres'"></app-section-title>
<div [hidden]="hidden"> <!---[ngClass]="{'transit':true, 'closed':hidden, 'open': !hidden }"--->
       <div class="row">
              <div *ngFor="let g of data | slice:0:4; let i = index" class="card-wrap col-3">
                     <ng-container  [ngTemplateOutlet]="objRef" [ngTemplateOutletContext]="{data: g, index: i}" ></ng-container>
              </div>                            
       </div>
       <div class="row mt-4">
              <div *ngFor="let g of data | slice:4:8; let i = index" class="card-wrap col-3">
                     <ng-container  [ngTemplateOutlet]="objRef" [ngTemplateOutletContext]="{data: g, index: i+4}" ></ng-container>
              </div>                            
       </div>
</div>
</div>