.dark-footer{
    background-color: #101012;
    padding-top: 4em ;
    padding-bottom:1em;
}
.box{
    margin-left:5px;
    font-family:'Marcellus', Courier, monospace;
    display: inline-block;
    font-size: 40px;
}
.m{
    border:blue solid 3px;
    border-radius: 10%;
    font-family:'Marcellus', Courier, monospace;
    display: inline-block;
    
    font-size: 40px;
}
.tab{
    display: inline-block;
    width:25%;
    font-size:15px;
}

.text-grey{
    color:#C2C2C2;
}