<!-- Footer -->
<footer class="dark-footer  text-white my-5">
    <!-- Grid container -->
    <div class="container p-4">
     
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <button mat-icon-button>
                <div class="m text-white">M</div>
                <div class="box text-white">BOX
                </div>
            </button>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
  
            <ul class="list-unstyled mb-3">
              <li class="mb-2">
                <a href="#!" class="text-grey">Gift Card</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-grey">Media Center</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-grey">Privacy</a>
              </li>
              <li class="mb-2">
                <a href="#!" class="text-grey">Contact us</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-3">
                <li class="mb-2">
                  <a href="#!" class="text-grey">Help Center</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Media Center</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Privacy</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Contact us</a>
                </li>
              </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-3">
                <li class="mb-2">
                  <a href="#!" class="text-grey">Voice Description</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Media Center</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Privacy</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-grey">Contact us</a>
                </li>
              </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->