<div class="my-4">
<app-section-title (onClicked)="titleClicked($event)" [title]="title"></app-section-title>
<div  class="scrolling-wrapper">
 <carousel [height]="height" cellsToScroll="5" arrowsTheme="dark">
<div *ngFor="let m of data" class="carousel-cell">
       <!--<app-movie [info]="m" [height]="300"></app-movie>-->
       <ng-container  [ngTemplateOutlet]="objRef" [ngTemplateOutletContext]="{data: m}"></ng-container>
</div>
</carousel>
</div>
</div>