/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'material-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { background-color: #000;
    color:#fff ;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  @font-face {
    font-family: Marcellus;
    src: url(assets/fonts/Marcellus-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Mulish;
    src: url(assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
  }

  
.text-grey{
  color:#C2C2C2;
}