.mat-toolbar.mat-primary {
    background: #000;
    color: #fff;
  }
  a {
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
mat-toolbar{
    border-radius: 3px;
}
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.m{
    border:blue solid 3px;
    border-radius: 10%;
    font-family:'Marcellus', Courier, monospace;
    display: inline-block;
    
    font-size: 40px;
}
.box{
    margin-left:5px;
    font-family:'Marcellus', Courier, monospace;
    display: inline-block;
    font-size: 40px;
}
.tab{
    display: inline-block;
    width:25%;
    font-size:15px;
}