<mat-toolbar color="primary" class="my-2">
    <div class="row w-100">
        <div class="col">
            <button mat-icon-button>
                <div class="m">M</div>
                <div class="box">
                    <a routerLink="/home">BOX</a>
                </div>
            </button>
            
        </div>
        <div class="col-3">
            <div class="row justify-content-between">
            <div class="tab col"><a routerLink="/dashboard">Home</a> </div>
            <div class="tab col"><a routerLink="/tv">TV Shows</a> </div>
            <div class="tab col"><a routerLink="/movies">Movie</a> </div>
            <div class="tab col"><a routerLink="/series">Series</a> </div>
            </div>
        </div>
        <div class="col">
            <div class="float-right">
            <mat-icon class="mr-3">search</mat-icon>
            <mat-icon>notifications_none</mat-icon>
           </div>
        </div>

        
    </div>
</mat-toolbar>