<div class="wrapper-img">
    <img [src]="'https://image.tmdb.org/t/p/original/'+info.backdrop_path" [alt]="info.title" style="width:100%;">
    <div class="title" >
       <div class="row"><h1 class="col tt">{{info.title}}</h1></div> 
       <div class="row ts">
           <div class="col-1">{{info.release_date | date:'y'}}</div>
           <div class="col-1">{{info.vote_average}}</div>
           <div class="col-1" *ngIf="info.adult">Adult</div>
        </div>
       <div class="row ts"><p class="col-6 text-grey">{{info.overview}}</p></div>
       <div class="row justify-content-start">
        <div class="col-1"><button class="btn btn-primary">Watch</button></div>
        <div class="col-2"><button class="btn btn-light">More Information</button></div>
     </div>
    </div>
    
</div>