.wrapper {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .title {
    position: absolute;
    bottom: 30%;
    left:20%;
  }

  .tt{
      font-family: 'Marcellus', Courier, monospace;
      font-size:70px;
  }

  .ts{
    font-family: 'Mulish', Courier, monospace;
    font-size:20px;
  }