

.colorful{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    //background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.3))
}
:host ::ng-deep .genre-wrapper{
    border-radius: 20px;
    height: 200px;
}
.colorful-text{
    color: #fff;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}
.colorful-box{
    border: solid 3px #fff;
    width: 30%;
    height: 30%
}
.central-box{
    position: absolute;
    top: 35%;
    left: 35%;   
}
.central-text{
    position: relative;
    top: 70%;
    width: 100%;
    text-align: center;   
}

