
<div class="genre-wrapper" >
    <div class="colorful" (click)="bclick()" [ngStyle]="{background: 'linear-gradient(135deg, '+color1+', '+color2+' )'}"> 
        <div class="colorful-box central-box"></div>
        <h1 class="colorful-text central-text">{{info.name}}</h1>
    </div>
</div>