.title{
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;

}

.small-rectangle{
    margin: 0 15px;
    float: left;

    width: 16px;
    height: 50px;

    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-radius: 8px;
}

.title-wrapper{
    height: 50px;
    margin: 5px 0 15px 0;
}

.arrow{
    vertical-align: middle;
    transition: ease-in-out .1s .1s;
}