
<div class="title-wrapper">
    <div class="small-rectangle"></div>
    <h3 class="title" [ngStyle]="{color: title_color ? title_color : '#ffffff'}">{{title}} 
        <mat-icon class="arrow" (click)="arrowClick()" [ngStyle]="{
                'transform': 'rotate(' + (arrowState ? '90deg' : '0') + ')'}" >
            keyboard_arrow_right
        </mat-icon></h3>    
</div>

